@{
    ViewBag.Title = "Footer";
}
<div id="footer" class="body2">



    <div class="container">

        <div class="fourcol first">

            <div class="twinsbox">
                <h2>		Photos on <span>flick<span>r</span></span>        </h2>
                <div class="flickwrap">
                    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;&amp;layout=x&amp;source=user&amp;user=11777784@N05&amp;size=s"></script><div class="flickr_badge_image" id="flickr_badge_image1"><a href="http://www.flickr.com/photos/musicman67/10650054266/"><img src="http://farm6.staticflickr.com/5475/10650054266_f9c6b885a4_s.jpg" alt="Una foto de Flickr" title="A Grey Day." height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image2"><a href="http://www.flickr.com/photos/musicman67/12524846905/"><img src="http://farm8.staticflickr.com/7403/12524846905_a3e10135e7_s.jpg" alt="Una foto de Flickr" title="Misty Morning." height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image3"><a href="http://www.flickr.com/photos/musicman67/11451372333/"><img src="http://farm8.staticflickr.com/7405/11451372333_d21900bc93_s.jpg" alt="Una foto de Flickr" title="Red On Green." height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image4"><a href="http://www.flickr.com/photos/musicman67/11492518374/"><img src="http://farm8.staticflickr.com/7354/11492518374_237cf1023d_s.jpg" alt="Una foto de Flickr" title="True Blue." height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image5"><a href="http://www.flickr.com/photos/musicman67/12265973833/"><img src="http://farm6.staticflickr.com/5529/12265973833_e9d7b41ebe_s.jpg" alt="Una foto de Flickr" title="The Road To The Super Bowl" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image6"><a href="http://www.flickr.com/photos/musicman67/11421269344/"><img src="http://farm8.staticflickr.com/7419/11421269344_0a1792f32f_s.jpg" alt="Una foto de Flickr" title="Floats" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image7"><a href="http://www.flickr.com/photos/musicman67/12265843943/"><img src="http://farm8.staticflickr.com/7319/12265843943_be4aca3e2f_s.jpg" alt="Una foto de Flickr" title="The Big Boom" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image8"><a href="http://www.flickr.com/photos/musicman67/10147798163/"><img src="http://farm6.staticflickr.com/5528/10147798163_033429c4dd_s.jpg" alt="Una foto de Flickr" title="Ivy October 2013." height="75" width="75"></a></div><span style="position:absolute;left:-999em;top:-999em;visibility:hidden" class="flickr_badge_beacon"><img src="http://geo.yahoo.com/p?s=792600102&amp;t=a418b6ca616a004d5572564dbea1297e&amp;r=http%3A%2F%2Fthemestate.com%2Fvergothemes%2F02%2F&amp;fl_ev=0&amp;lang=es&amp;intl=ar" alt="" height="0" width="0"></span>
                </div>

            </div>

        </div>


        <div class="fourcol">

            <div style="clear: both;"></div>
            <div class="lasttwit">
            </div>
            <script type="text/javascript" src="http://themestate.com/vergothemes/02/wp-content/themes/barrci/js/jquery.tweet.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $(".tweets").tweet({
                        join_text: "auto",
                        username: "Smashingmag",
                        avatar_size: 40,
                        count: 2,
                        auto_join_text_default: "",
                        auto_join_text_ed: "",
                        auto_join_text_ing: "",
                        auto_join_text_reply: "",
                        auto_join_text_url: "",
                        loading_text: "loading tweets..."
                    });
                })
            </script>



        </div>

        <div class="fourcol">

            <h2>About Us</h2>
            <span class="left"><img alt="" src="http://0.gravatar.com/avatar/c83637d97c2711c8145fcf6ec8f9eece?s=50&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D50&amp;r=G" class="avatar avatar-50 photo" height="50" width="50"></span>
            <p style="margin:0 0 30px 0;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor ac sapien cursus ornare eget nec dolor. Ut hendrerit, enim et laoreet imperdiet, tortor ligula convallis velit, eget ornare odio eros nec tortor. In ultricies viverra ipsum at mattis. Vestibulum tempus augue et magna laoreet at pellentesque justo mattis. <br>
            </p>


        </div>

        <div id="copyright">

            <div class="fl">
            </div>


            <div class="fl">


                <p>© 2014 Barrci Theme | Just another WordPress site</p>


            </div>

            <div class="fr">


                <p>Powered by <a href="http://www.wordpress.org">Wordpress</a>. Designed by <a href="http://wpbox.net">Vergo™</a></p>


            </div>

        </div>

    </div>

</div>