<h2 style="color: #ffffff">Estudio</h2>

<p style="color: #c0c0c0;">
	Contamos con estudio de grabación propio, asi como con todo el equipamiento necesario para cada producción ya sea de televisión o fotografia.
</p>
<ul class="homeblog centerrow">



	<li class="post-59 post type-post status-publish format-standard hentry category-design tag-buildings tag-system centerthreecol">



		<a class="imgwrap" href="http://themestate.com/vergothemes/02/?p=59" title="Nor would difference of country make any very essential difference">

			<img width="217" height="170" src="http://themestate.com/vergothemes/02/wp-content/uploads/2013/02/1406941_74417300-217x170.jpg" class="attachment-homeblog wp-post-image" alt="1406941_74417300" title="" style="opacity: 1; width: 100%;">
		</a>



		<div class="inside">

			<h3>Nor would difference of country make any very essential difference</h3>

			<p class="meta">
				Nov 16, 12 • 
				<a href="http://themestate.com/vergothemes/02/?cat=3" title="View all posts in Design" rel="category">Design</a>
			</p>


		</div>

	</li>


	<li class="post-62 post type-post status-publish format-gallery hentry category-design category-life category-photo category-urban tag-buildings tag-post-formats tag-shortcode centerthreecol">

		<span class="ribbon"></span><span class="ribbon_icon"><i class="icon-picture"></i></span>

		<a class="imgwrap" href="http://themestate.com/vergothemes/02/?p=62" title="Gallery Post – Down the hill I saw a bevy of hussars">

			<img width="217" height="170" src="http://themestate.com/vergothemes/02/wp-content/uploads/2012/11/dahlia-63442_640-217x170.jpg" class="attachment-homeblog wp-post-image" alt="dahlia-63442_640" title="" style="opacity: 0.09999999999999998; width: 103%;">
		</a>



		<div class="inside">

			<h3>Gallery Post – Down the hill I saw a bevy...</h3>

			<p class="meta">
				Nov 14, 12 • 
				<a href="http://themestate.com/vergothemes/02/?cat=3" title="View all posts in Design" rel="category">Design</a>, <a href="http://themestate.com/vergothemes/02/?cat=5" title="View all posts in Life" rel="category">Life</a>, <a href="http://themestate.com/vergothemes/02/?cat=7" title="View all posts in Photo" rel="category">Photo</a>, <a href="http://themestate.com/vergothemes/02/?cat=8" title="View all posts in Urban" rel="category">Urban</a>
			</p>


		</div>

	</li>


	<li class="post-82 post type-post status-publish format-image hentry category-formats tag-buildings tag-foliage tag-link tag-post-format-quote tag-road tag-shortcode tag-system tag-tilt-shift centerthreecol">

		<span class="ribbon"></span><span class="ribbon_icon"><i class="icon-camera"></i></span>

		<a class="imgwrap" href="http://themestate.com/vergothemes/02/?p=82" title="Another Post Format">

			<img width="217" height="170" src="http://themestate.com/vergothemes/02/wp-content/uploads/2012/11/south-pole-60597-217x170.jpg" class="attachment-homeblog wp-post-image" alt="south-pole-60597" title="">
		</a>



		<div class="inside">

			<h3>Another Post Format</h3>

			<p class="meta">
				Nov 10, 12 • 
				<a href="http://themestate.com/vergothemes/02/?cat=4" title="View all posts in Formats" rel="category">Formats</a>
			</p>


		</div>

	</li>


	<li class="post-200 post type-post status-publish format-video hentry category-nature tag-road tag-smooth centerthreecol">

		<span class="ribbon"></span><span class="ribbon_icon"><i class="icon-play-circle"></i></span>

		<a class="imgwrap" href="http://themestate.com/vergothemes/02/?p=200" title="Video Post – This boat had always been deemed one of the spare boats">

			<img width="217" height="170" src="http://themestate.com/vergothemes/02/wp-content/uploads/2012/11/stairs-8443-small-217x170.png" class="attachment-homeblog wp-post-image" alt="stairs-8443-small" title="">
		</a>



		<div class="inside">

			<h3>Video Post – This boat had always been deemed one...</h3>

			<p class="meta">
				Nov 6, 12 • 
				<a href="http://themestate.com/vergothemes/02/?cat=6" title="View all posts in Nature" rel="category">Nature</a>
			</p>


		</div>

	</li>


	<li class="post-58 post type-post status-publish format-standard hentry category-design category-photo tag-foliage tag-macro centerthreecol">



		<a class="imgwrap" href="http://themestate.com/vergothemes/02/?p=58" title="All night a wide-awake watch was kept by all the officers, forward and aft">

			<img width="217" height="170" src="http://themestate.com/vergothemes/02/wp-content/uploads/2012/11/auto-66574-217x170.jpg" class="attachment-homeblog wp-post-image" alt="auto-66574" title="">
		</a>



		<div class="inside">

			<h3>All night a wide-awake watch was kept by all the...</h3>

			<p class="meta">
				Nov 5, 12 • 
				<a href="http://themestate.com/vergothemes/02/?cat=3" title="View all posts in Design" rel="category">Design</a>, <a href="http://themestate.com/vergothemes/02/?cat=7" title="View all posts in Photo" rel="category">Photo</a>
			</p>


		</div>

	</li>


	<li class="post-57 post type-post status-publish format-standard hentry category-nature category-photo tag-macro tag-smooth centerthreecol">



		<a class="imgwrap" href="http://themestate.com/vergothemes/02/?p=57" title="The Tin Woodman gave a sigh of satisfaction and lowered his axe">

			<img width="217" height="170" src="http://themestate.com/vergothemes/02/wp-content/uploads/2012/11/6386506909_fd385dc132_b-217x170.jpg" class="attachment-homeblog wp-post-image" alt="6386506909_fd385dc132_b" title="" style="opacity: 1; width: 100%;">
		</a>



		<div class="inside">

			<h3>The Tin Woodman gave a sigh of satisfaction and lowered...</h3>

			<p class="meta">
				Nov 4, 12 • 
				<a href="http://themestate.com/vergothemes/02/?cat=6" title="View all posts in Nature" rel="category">Nature</a>, <a href="http://themestate.com/vergothemes/02/?cat=7" title="View all posts in Photo" rel="category">Photo</a>
			</p>


		</div>

	</li>


	<li class="post-56 post type-post status-publish format-standard hentry category-photo tag-macro centerthreecol">



		<a class="imgwrap" href="http://themestate.com/vergothemes/02/?p=56" title="I was overjoyed to see the high trees that denoted the object of my search">

			<img width="217" height="170" src="http://themestate.com/vergothemes/02/wp-content/uploads/2012/11/iron-69710_1280-217x170.jpg" class="attachment-homeblog wp-post-image" alt="iron-69710_1280" title="">
		</a>



		<div class="inside">

			<h3>I was overjoyed to see the high trees that denoted...</h3>

			<p class="meta">
				Nov 4, 12 • 
				<a href="http://themestate.com/vergothemes/02/?cat=7" title="View all posts in Photo" rel="category">Photo</a>
			</p>


		</div>

	</li>

	<li class="centerthreecol">

		<a class="imgwrap fromhome" href="http://themestate.com/vergothemes/02/?page_id=292">

			<img src="http://themestate.com/vergothemes/02/wp-content/themes/barrci/images/icons/more-blog.png">
		</a>

		<div class="inside">

			<h3 class="fromhome">Browse All Articles</h3>

		</div>

	</li>

</ul>

