<div class="flexfull_wrap">

    <div class="flexfull flexslider body2">

        <ul class="slides">



            <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
                <img width="1000" height="650" src="@Url.Content("~/Content/images/fotos-home/L1150365.JPG")" class="attachment-full-slider wp-post-image" alt="100">
                <div class="inside">
                    <div class="stuff container" style="opacity: 1;">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <div class="twocol-one"></div>
                            <p></p>
                        <p></p>
                        <div class="twocol-one last" style="float:right;width:50%;text-align: right;">
                            <h2 style="text-align: right; overflow:auto;margin:0"><img width="300" height="75" src="@Url.Content("~/Content/images/custom/logoalta.png")" style="float:right"></h2>
                            <h4 style="clear:both; margin-top:0;"><span style="color: #ffffff;">Productora de contenidos. Realizaci&oacute;n integral.
                              <p></p>Servicios de postproducci&oacute;n. Estudio propio.</span></h4>
                            <p></p>
                        </div>
                        <p></p>

                    </div>

                </div>

                <div style="clear: both;"></div>
            </li>


@*






            <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">


                <a href="#Y">

                    <img width="1000" height="650" src="@Url.Content("~/Content/images/fotos-home/FOTO-43.png")" class="attachment-full-slider wp-post-image" alt="1406941_74417300">
                </a>




                <div class="inside">


                    <div class="stuff container" style="opacity: 1;">






                        <p></p>
                        <div class="sixcol-one">&nbsp;</div>
                        <div class="sixcol-four">
                            <p></p>
                            <p>&nbsp;</p>
                            <h1 style="text-align: center;">You can do <span style="color: #00B4DA;">everything!</span></h1>
                            <p style="text-align: center;">You can set your own layout order, positions, backgrounds, colors, fonts, images…</p>
                            <p></p>
                        </div>
                        <div class="sixcol-one last"></div>
                        <p></p>

                    </div>

                </div>

                <div style="clear: both;"></div>
            </li>*@


        </ul>

@*        <ol class="flex-control-nav flex-control-paging">
            <li><a class="">1</a></li>
            <li><a class="">2</a></li>
            <li><a class="flex-active">3</a></li>
        </ol>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="#">Previous</a></li>
            <li><a class="flex-next" href="#">Next</a></li>
        </ul>*@
    </div>


    <div class="flexfull_social">

        <ul class="social-menu">
        </ul>
        <div class="clear-floats"></div>
    </div>

</div>
