@*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6569.229448818417!2d-58.44894599999999!3d-34.588614!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5f04ea63cd9%3A0x8d3fdceec67f0471!2sGeneral+Juan+Gregorio+Lemos+239!5e0!3m2!1ses!2sus!4v1395446526337" width="100%" height="400" frameborder="0" style="border:0"></iframe>*@
@*<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zXGkDLXBgHKE.k6UacfvXVJJk" width="100%" height="400" frameborder="0" style="border:0"></iframe>*@
@*<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=General%20Juan%20Gregorio%20Lemos%20239%2C%20Buenos%20Aires%2C%20Argentina&key=AIzaSyADxfletq03zJswiHQeTbXdKnNLC9hMgiQ"></iframe>*@
@*<script src="https://maps.gstatic.com/intl/es_ES/mapfiles/embed/16/4/init_embed.js"></script>
    <script>
        initEmbed(["http://themestate.com/vergothemes/02/", null, "https://maps.gstatic.com/intl/es_ES/mapfiles/embed/16/4/init_embed.js", null, null, [[[2, "spotlight", null, null, null, null, null, [null, ["0x0:0xedc33f230d1355b1", null, null, [null, null, -37.817314, 144.955431], 0], null, null, null, null, null, null, null, null, null, null, [null, null, null, null, null, null, null, null, null, null, null, null, null, 1]]]], [[52]]], null, ["es_ES"], ["/maps/api/ads/qle", "/maps/embed/starring", "//accounts.google.com/ServiceLogin?continue=https://www.google.com/maps/embed/AuthSuccess", "/maps/embed/entity", "/maps/embed/upgrade204"], [["0x6ad642c9a8d8495f:0xedc33f230d1355b1", "Envato Pty Ltd, 121 king street, Melbourne VIC 3000, Australia", [-37.817314, 144.955431], "17132606827223274929"], "Envato Pty Ltd", ["121 king street", "Melbourne VIC 3000", "Australia"], 4.400000095367432, "14 reseñas", "https://plus.google.com/113851126877187371565/about?hl=es\u0026authuser=0\u0026gl=us\u0026socpid=247\u0026socfid=maps_embed:placecard", 0], null, null, null, [[25217.74410209075, 144.955431, -37.817314], null, null, 13.10000038146973], 0, [["language", "es_ES"]], null, "080sU9-kKcy10AHn5IDoDw", 14]);
    </script>*@
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
@*<script>
        var mapOptions = {
            zoom: 14,
            center: point,
            mapTypeId: google.maps.MapTypeId.SATELLITE,
            scrollwheel: false
        }

        map = new google.maps.Map(document.getElementById("map"), mapOptions);
    </script>*@

<script type="text/javascript">
    function initialize() {
        var pos = new google.maps.LatLng(-34.588433, -58.448956);
        var mapOptions = {
            center: pos,
            zoom: 15,
            draggable: false,
            scrollwheel: false,
            disableDefaultUI: true
        };
        var infowindow = new google.maps.InfoWindow({
            content: document.getElementById("marker").innerHTML
        });
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: pos,
            map: map
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<style type="text/css">
    #map-canvas {
        width: 100%;
        height: 400px;
    }
</style>
<div id="map-canvas" />
<div id="marker" style="display:none;">
    <div style="width:300px; height:70px;">
        <strong>Estudio Voodoo</strong>
        <p style="line-height:100%">
            General Juan Gregorio Lemos 239<br />
            Buenos Aires
            Argentina
        </p>
    </div>

</div>
