<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var pos = new google.maps.LatLng(-34.588433, -58.448956);
        var mapOptions = {
            center: pos,
            zoom: 15,
            draggable: false,
            scrollwheel: false,
            disableDefaultUI: true
        };
        var infowindow = new google.maps.InfoWindow({
            content: document.getElementById("marker").innerHTML
        });
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({
            position: pos,
            map: map
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<style type="text/css">
    #map-canvas {
        width: 100%;
        height: 400px;
    }
</style>
<div id="map-canvas" />
<div id="marker" style="display:none;">
    <div style="width:300px; height:70px;">
        <strong>Estudio Voodoo</strong>
        <p style="line-height:100%">
            General Juan Gregorio Lemos 239<br />
            Buenos Aires
            Argentina
        </p>
    </div>

</div>
