<h2 style="text-align: left;">

    SERVICIOS

</h2>
<h4 style="text-align: left;">

    …Y ESTO TE OFRECEMOS EN

    <span style="color: #F5023C;">

        VOODOO!

    </span>
</h4>

<div id="folio-wrap">
    <div id="services-wrap">
        <ul>
            <li class="services">
                <h3>
                    <i class="icon-cogs fa-fw"></i>Realización integral
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-group"></i>Producción general
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-text-height"></i>Desarrollo de contenidos
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-desktop"></i>Postproducción de imagen y sonido
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-camera"></i>Producciones fotograficas
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-home"></i>Alquiler de salas de edición, estudio de fotografia y tv
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-tint"></i>Corrección de color
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-magic"></i>Motion graphic
                </h3>

            </li>
            <li class="services">
                <h3>
                    <i class="icon-thumbs-up"></i>Asesoría y coordinación de postproducción
                </h3>

            </li>
        </ul>
    </div>
</div>