<h2 style="text-align: center;">TRABAJOS</h2>

<h4>
    <span style="color: #00B4DA;">

        ALGUNOS

    </span>
    DE LOS TRABAJOS QUE
    <span style="color: #00B4DA;">

        REALIZAMOS

    </span>EN VOODOO...
</h4>
<div id="folio-wrap">

    <ul id="portfolio-list" class="centerrow">



        <li id="post-286" class="centerfourcol item_full">

            <a class="imgwrap" href="http://vimeo.com/20678331">

                <img width="300" height="300"><iframe src="//player.vimeo.com/video/20678331" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/20678331">Visibles2</a> from <a href="http://vimeo.com/estebanwaitzman">Esteban Waitzman</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

                <div style="clear:both"></div>

                <div class="inside">

                    <h3>Mexican Cartels</h3>

                    <p class="meta">

                        <a href="http://themestate.com/vergothemes/02/?categories=urban" rel="tag">Urban</a> • <a href="http://themestate.com/vergothemes/02/?categories=post-format-video" rel="tag">Video</a>
                    </p>

                    There seemed but little in the words, but the tone conveyed more of deep helpless sadness than the insane old man had ever before evinced. But...
                </div>
            </a>
        </li><!-- #post-286 -->




        <li id="post-238" class="centerfourcol item_full">

            <a class="imgwrap" href="http://themestate.com/vergothemes/02/?myportfoliotype=alcatraz-prison">

                <img width="300" height="300" src="http://themestate.com/vergothemes/02/wp-content/uploads/2013/02/alcatraz-82089_1280-300x300.jpg" class="attachment-folio-3col wp-post-image" alt="alcatraz-82089_1280" title="" style="opacity: 1; width: 100%;">
            </a>

            <div style="clear:both"></div>

            <div class="inside">

                <h3>Alcatraz – Slider</h3>

                <p class="meta">

                    <a href="http://themestate.com/vergothemes/02/?categories=photography" rel="tag">Photography</a> • <a href="http://themestate.com/vergothemes/02/?categories=slideshow" rel="tag">Slideshow</a>
                </p>

                That great America on the other side of the sphere, Australia, was given to the enlightened world by the whaleman. After its first blunder-born...
            </div>

        </li><!-- #post-238 -->




        <li id="post-32" class="centerfourcol item_full">

            <a class="imgwrap" href="http://themestate.com/vergothemes/02/?myportfoliotype=yellow-roses">

                <img width="300" height="300" src="http://themestate.com/vergothemes/02/wp-content/uploads/2013/02/roses-66527_1920-300x300.jpg" class="attachment-folio-3col wp-post-image" alt="roses-66527_1920" title="" style="opacity: 1; width: 100%;">
            </a>

            <div style="clear:both"></div>

            <div class="inside">

                <h3>Yellow Roses</h3>

                <p class="meta">

                    <a href="http://themestate.com/vergothemes/02/?categories=photography" rel="tag">Photography</a>
                </p>

                The rude shock of awakening to what doubtless might prove some new form of danger was still upon me when I heard a rattling of loose stones from the...
            </div>

        </li><!-- #post-32 -->




        <li id="post-42" class="centerfourcol item_full">

            <a class="imgwrap" href="http://themestate.com/vergothemes/02/?myportfoliotype=brooklyn-bridge">

                <img width="300" height="300" src="http://themestate.com/vergothemes/02/wp-content/uploads/2013/02/921149_42587224-300x300.jpg" class="attachment-folio-3col wp-post-image" alt="921149_42587224" title="">
            </a>

            <div style="clear:both"></div>

            <div class="inside">

                <h3>Brooklyn Bridge</h3>

                <p class="meta">

                    <a href="http://themestate.com/vergothemes/02/?categories=bw" rel="tag">B&amp;W</a> • <a href="http://themestate.com/vergothemes/02/?categories=photography" rel="tag">Photography</a> • <a href="http://themestate.com/vergothemes/02/?categories=slideshow" rel="tag">Slideshow</a>
                </p>

                Photo Credit – bizior. But as the strange captain, leaning over the pallid bulwarks, was in the act of putting his trumpet to his mouth, it...
            </div>

        </li><!-- #post-42 -->




        <li id="post-33" class="centerfourcol item_full">

            <a class="imgwrap" href="http://themestate.com/vergothemes/02/?myportfoliotype=33">

                <img width="300" height="300" src="http://themestate.com/vergothemes/02/wp-content/uploads/2013/02/architecture-20787-300x300.jpg" class="attachment-folio-3col wp-post-image" alt="architecture-20787" title="" style="opacity: 0.19999999999999996; width: 103%;">
            </a>

            <div style="clear:both"></div>

            <div class="inside">

                <h3>Cathedral</h3>

                <p class="meta">

                    <a href="http://themestate.com/vergothemes/02/?categories=photography" rel="tag">Photography</a>
                </p>

                I had covered some hundred yards from shore when it became evident that my pursuer must grasp the stern of the skiff within the next half-dozen...
            </div>

        </li><!-- #post-33 -->




        <li class="centerfourcol item_full body2">

            <a class="imgwrap fromhome" href="http://themestate.com/vergothemes/02/?page_id=18">

                <img src="http://themestate.com/vergothemes/02/wp-content/themes/barrci/images/icons/more.png">

            </a>

            <div class="inside">

                <h3 class="fromhome">Our Portfolio</h3>

            </div>

        </li>
    </ul>
    <div class="clear"></div>



</div>
