@model IEnumerable<Voodoo.Models.Video>
<h2 style="text-align: center;">TRABAJOS</h2>

<h4>
    <span style="color: #00B4DA;">

        ALGUNOS

    </span>
    DE LOS TRABAJOS QUE
    <span style="color: #00B4DA;">

        REALIZAMOS

    </span>EN VOODOO...
</h4>
<div id="folio-wrap">

    <ul id="portfolio-list" class="centerrow">
        @foreach (var video in this.Model)
        {
            <li class="centerfourcol item_full">
                <a class="imgwrap vimeo" href="@video.VimeoLink">
                    <img width="300" height="168" src="@Url.Content("~/Content/images/videos/" + video.ImageFile)" class="attachment-folio-3col" style="opacity: 1; width: 100%;">
                    <div style="clear:both"></div>
                    <div class="inside">
                        @Html.Raw(video.Text)
                    </div>
                </a>
            </li>
        }
        @*<li id="post-238" class="centerfourcol item_full">

            <a class="imgwrap" href="http://themestate.com/vergothemes/02/?myportfoliotype=alcatraz-prison">

                <img width="300" height="300" src="http://themestate.com/vergothemes/02/wp-content/uploads/2013/02/alcatraz-82089_1280-300x300.jpg" class="attachment-folio-3col wp-post-image" alt="alcatraz-82089_1280" title="" style="opacity: 1; width: 100%;">
            </a>

            <div style="clear:both"></div>

            <div class="inside">

                <h3>Alcatraz – Slider</h3>

                <p class="meta">

                    <a href="http://themestate.com/vergothemes/02/?categories=photography" rel="tag">Photography</a> • <a href="http://themestate.com/vergothemes/02/?categories=slideshow" rel="tag">Slideshow</a>
                </p>

                That great America on the other side of the sphere, Australia, was given to the enlightened world by the whaleman. After its first blunder-born...
            </div>

        </li>*@
        <!-- #post-238 -->

    </ul>
    <div class="clear"></div>



</div>
